.clearanceContainer {
    height: 100%;
    margin-top: 1.5rem;
}

.leftClearanceSection {
    position: relative;
    height: 100%;
    padding-top: 5rem !important;
    padding-left: 8rem !important;
    
}

.background-div {
    position: absolute;
    top: 0;
    left: 0;
    width: 55%;
    height: 80%;
    background-color: rgb(177, 149, 59);
    z-index: -1;
    margin-top: 3rem;
    margin-left: 4rem;
}