.clearanceContainer {
    height: 100%;
    margin-top: 6rem;
}

.leftClearanceSection {
    position: relative;
    height: 100%;
    width: 60%;
    margin-top: 0.5rem !important;
    padding-left: 4rem !important;
    
}

.background-div {
    position: absolute;
    top: 0;
    left: 0;
    width: 55%;
    height: 80%;
    background-color: rgb(177, 149, 59);
    z-index: -1;
    margin-top: 3rem;
    margin-left: 4rem;
}

input[type=number] {
    width: 40%;
    height: 30px !important;
    color: #444;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #555;
    font-weight: 600;
    text-align: center;
  }

@media (max-width: 490px){
    .clearanceMain {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .leftClearanceSection {
        height: 70% !important;
        padding-left: 0 !important;
    }
    .otherClearanceSection {
        height: 30% !important;
    }
    .button {
        width: 20% !important;
    }
}

button {
    border-radius: 20px !important;
    width: 20% !important;
}