.auth {
    height: 100vh;
}

.leftSection {
    display: flex;
    align-items: start;
    justify-content: start;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(197, 140, 18, 0.5), rgba(226, 190, 70, 0.5)), url("/Images/IMG_4567.JPG");
    background-size: cover;
    background-position: center;
}

.leftSectTextCont{
    width: 70%;
    margin-top: 3rem;
    margin-left: 5rem;
}

@media (max-width: 599px) {
    .leftSection {
        height: 50%;
    }
    .auth {
        height: 100vh;
    }
    .leftSectTextCont{
        margin-left: 0;
        width: 100%;
        display: flex;
        text-align: center;
    }
  }