.auth {
    height: 100vh;
}

.leftSection {
    display: flex;
    align-items: start;
    justify-content: start;
    height: 100%;
    background-image: linear-gradient(rgba(197, 140, 18, 0.5), rgba(226, 190, 70, 0.5)), url("/Images/IMG_4567.JPG");
    background-size: cover;
    background-position: center;
}